body {
	font-size: 16px;
	color: #fff;
	background-color: #E64D43;
	font-family: 'Oxygen', sans-serif;
}

@font-face {
font-family: watermelon;
src: url("../fonts/watermelon.ttf");
}

/* Header */
#header-nav{
	background-color: #D7E65A
}

#logo-img {
	background: url("../img/cake.png") no-repeat ;
	width: 178px;
	height: 178px;
}

#title-text{
	font-family: "watermelon", sans-serif; 
	color: #2C89E6;
	font-size: 1.8em;
	margin-top: 20px;
	text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbrand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list .active a{
	color: #143454;
}

#nav-list a:hover{
	background: #E7E7E7;
}
/* End of Header */

/* Footer */
.card-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #1D4C7A;
	border-top: 0;
}
.card-footer div.row{
	margin-bottom: 35px;
}
#information, #contact {
	line-height: 2;
}
#quote{
	display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

#information > span, #contact > span{
	font-size: 1.3em;
}
/* End Footer */

/* Home Page */

.container .jumbotron{
	margin-top: 30px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

#photos, #videos, #special{
	background-size: cover;
	width: 100%;
	padding-top: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}

#photos:hover, #videos:hover, #special:hover{
	box-shadow: 0 1px 5px 1px #CCC;
}
	
#photos{
	background: url("../img/photos_1200.png") no-repeat center;
}

#videos{
	background: url("../img/videos_1200.png") no-repeat center;
}

#special{
	background: url("../img/special_1200.png") no-repeat center;
}

hr{
	border: 1px solid white;
}

#photos span, #videos span, #special span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 55px;
	display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
	font-size: 1.6em;
	background-color: #000;
	color: #fff;
}
/* End Home Page */

/* Cooming soon */
#cooming-soon{
	font-family: "watermelon", sans-serif; 
	color: ##2C89E6;
	font-size: 3em;
	margin-top: 200px;
	margin-bottom: 200px;
	text-shadow: 1px 1px 1px #222;
}
/* End Cooming soon */

/* Photos */
#photos-title{
	margin-top: 50px;
}
.category-tile{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0px auto 15px;
}

.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #ccc;
}

#photos-title + div{
	margin-bottom: 50px;
}
/* End Photos */

/* Shooping page */

.menu-item-tile{
	margin-bottom: 25px;
}
.menu-item-tile hr{
	width: 80%;
}
.menu-item-tile .menu-item-price{
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: .6em;
}

.menu-item-photo{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}

.menu-item-description{
	padding-right: 30px;
}
h3.menu-item-title{
	margin: 0 0 10px;
}
.menu-item-details{
	font-size: .9em;
	font-style: italic;
}
/* End shooping page */

/* Friends */

.card-text{
	color: #000;
}

/* End friends */

/*+++++++++ Extra large devices +++++++++*/
@media (min-width: 1200px){
	#logo-img{
	background: url("../img/cake.png") no-repeat ;
	width: 178px;
	height: 178px;
	}
	.container .jumbotron {
		background: url("../img/jumbotron_1200.png") no-repeat center;
		height: 488px;
		background-size: cover;
	}
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img{
	background: url("../img/cake.png") no-repeat ;
	width: 178px;
	height: 178px;
	}
	.container .jumbotron {
		background: url("../img/jumbotron_992.png") no-repeat center;
		height: 403px;
	}
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px){
	#logo-img{
	background: url("../img/cake.png") no-repeat ;
	width: 178px;
	height: 178px;
	}
	#navbarSupportedContent a{
		font-size: 2em;
	} 
	#navbarSupportedContent a img{
		width: 1.2em;
		height: 1.2em;
		margin-right: 5px;
	} 
	.container .jumbotron {
		background: url("../img/jumbotron_768.png") no-repeat center;
		height: 312px;
	}
	#photos{
		background: url("../img/photos_768.png") no-repeat center;
	}

	#videos{
		background: url("../img/videos_768.png") no-repeat center;
	}

	#special{
		background: url("../img/special_768.png") no-repeat center;
	}
	#photos span, #videos span, #special span {
		height: 35px;
		font-size: 1em;
	}
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px){
	#logo-img{
	background: url("../img/cake-sm.png") no-repeat center;
	width: 100px;
	height: 120px;
	}
	.navbar-brand h1 {
	font-size: 1.5em;
	}
	.navbar-brand p {
	font-size: .75em;
	}
	#navbarSupportedContent a{
		font-size: 1.4em;
	} 
	#navbarSupportedContent a img{
		width: 1.2em;
		height: 1.2em;
		margin-right: 5px;
	} 
	.container .jumbotron {
		background: url("../img/jumbotron_576.png") no-repeat center;
		height: 234px;
	}
	#photos{
		background: url("../img/photos_768.png") no-repeat center;
	}

	#videos{
		background: url("../img/videos_768.png") no-repeat center;
	}

	#special{
		background: url("../img/special_1200.png") no-repeat center;
	}
	#photos, #videos, #special{
		background-size: cover;
	}
}

/* Extra small devices */
@media (max-width: 575px){
	#logo-img{
	background: url("../img/cake-sm.png") no-repeat center;
	width: 100px;
	height: 100px;
	}
	.navbar-brand h1 {
	font-size: 7vw;
	}
	
	.navbar-brand span{
		font-size: 7vw;
	}
	#navbarSupportedContent a{
		font-size: 4.2vw;
	} 
	#navbarSupportedContent a img{
		width: 1.2em;
		height: 1.2em;
		margin-right: 5px;
	}
	.container .jumbotron{
		padding: 0;
	}
	#photos, #videos, #special{
		background-size: cover;
		width: 80vw;
		height: 80vw;
		padding-top: 0;
		margin: 0 auto 15px;
	}
	.menu-item-photo{
		margin-right: auto;
	}
	.menu-item-tile .menu-item-price{
		text-align: center;
	}
	.menu-item-description{
		text-align: center;
	}
}